In [1]:
%load_ext autoreload
%autoreload 2

# Import Libraries

In [2]:
import os

import pandas as pd
from catboost import Pool, CatBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

# Read Data

In [3]:
path = "../"
train_data = pd.read_csv(os.path.join(path, "train.csv"))
test_data = pd.read_csv(os.path.join(path, "test.csv"))
print(f"Number of rows and columns in the train data set: {train_data.shape}")
print(f"Number of rows and columns in the test data set: {test_data.shape}")
train_data.head()

Number of rows and columns in the train data set: (5495, 4)
Number of rows and columns in the test data set: (788, 3)

,id,movie_name,movie_description,target
0,3525e31d,Hellraiser,A new take on Clive Barker's 1987 horror class...,Horror
1,051f6309,Hocus Pocus 2,It's been 29 years since someone lit the Black...,Kids
2,12a9bfcf,X,"In 1979, a group of young filmmakers set out t...",Horror
3,e5373c77,Piggy,With the summer sun beating down on her rural ...,Horror
4,473cdb82,Deadstream,After a public controversy left him disgraced ...,Horror

In [4]:
train_data.groupby("target").describe()

           id                       movie_name                                 \
        count unique       top freq      count unique                     top
target
Action    704    704  68cfcb79    1        704    697  Assault on Precinct 13
Comedy   1269   1269  f00aac8c    1       1269   1264     Father of the Bride
Drama    1202   1202  6569d7af    1       1202   1196            Little Women
Horror    974    974  3525e31d    1        974    942                  Carrie
Kids      552    552  051f6309    1        552    539               Pinocchio
Mystery   794    794  e5da8af4    1        794    769                   Alone

             movie_description         \
        freq             count unique
target
Action     2               704    703
Comedy     2              1269   1269
Drama      2              1202   1202
Horror     3               974    974
Kids       3               552    552
Mystery    3               794    793


                                                       top freq
target
Action   Wisecracking mercenary Deadpool meets Russell,...    2
Comedy   To show support for his neighborhood friends s...    1
Drama    Vince used to be in the hottest boy band aroun...    1
Horror   A new take on Clive Barker's 1987 horror class...    1
Kids     It's been 29 years since someone lit the Black...    1
Mystery  A mysterious figure stalks a pop star when she...    2

# Encoding Categorial Target

In [5]:
le = LabelEncoder()  # for label encoding!

X_train = train_data["movie_description"]
y_train = le.fit_transform(train_data["target"])

X_test = test_data["movie_description"]

# Preparing the data and creating Catboost model

In [6]:
model = CatBoostClassifier(
    iterations=100,
    depth=5,
    random_seed=42
)

model.fit(
    X_train,
    y_train,
    text_features=[0],
    verbose=True
)

Learning rate set to 0.5
0:	learn: 1.4732582	total: 157ms	remaining: 15.5s
1:	learn: 1.3652846	total: 286ms	remaining: 14s
2:	learn: 1.3190536	total: 420ms	remaining: 13.6s
3:	learn: 1.3058702	total: 549ms	remaining: 13.2s
4:	learn: 1.2852828	total: 681ms	remaining: 12.9s
5:	learn: 1.2715606	total: 803ms	remaining: 12.6s
6:	learn: 1.2644465	total: 928ms	remaining: 12.3s
7:	learn: 1.2585924	total: 1.06s	remaining: 12.2s
8:	learn: 1.2497019	total: 1.19s	remaining: 12s
9:	learn: 1.2453763	total: 1.32s	remaining: 11.9s
10:	learn: 1.2412351	total: 1.44s	remaining: 11.6s
11:	learn: 1.2395000	total: 1.58s	remaining: 11.6s
12:	learn: 1.2360224	total: 1.7s	remaining: 11.4s
13:	learn: 1.2328154	total: 1.82s	remaining: 11.2s
14:	learn: 1.2276674	total: 1.95s	remaining: 11.1s
15:	learn: 1.2213552	total: 2.07s	remaining: 10.9s
16:	learn: 1.2158031	total: 2.2s	remaining: 10.7s
17:	learn: 1.2118280	total: 2.32s	remaining: 10.6s
18:	learn: 1.2019060	total: 2.45s	remaining: 10.4s
19:	learn: 1.1964487	total: 2.57s	remaining: 10.3s
20:	learn: 1.1910195	total: 2.69s	remaining: 10.1s
21:	learn: 1.1886158	total: 2.81s	remaining: 9.97s
22:	learn: 1.1828453	total: 2.93s	remaining: 9.81s
23:	learn: 1.1776718	total: 3.05s	remaining: 9.66s
24:	learn: 1.1747805	total: 3.17s	remaining: 9.51s
25:	learn: 1.1671735	total: 3.29s	remaining: 9.37s
26:	learn: 1.1621577	total: 3.42s	remaining: 9.23s
27:	learn: 1.1582573	total: 3.53s	remaining: 9.08s
28:	learn: 1.1527748	total: 3.65s	remaining: 8.94s
29:	learn: 1.1467184	total: 3.77s	remaining: 8.8s
30:	learn: 1.1430415	total: 3.89s	remaining: 8.66s
31:	learn: 1.1381669	total: 4.02s	remaining: 8.54s
32:	learn: 1.1350051	total: 4.13s	remaining: 8.39s
33:	learn: 1.1310983	total: 4.25s	remaining: 8.26s
34:	learn: 1.1272210	total: 4.37s	remaining: 8.12s
35:	learn: 1.1230859	total: 4.49s	remaining: 7.99s
36:	learn: 1.1196244	total: 4.62s	remaining: 7.86s
37:	learn: 1.1170409	total: 4.73s	remaining: 7.72s
38:	learn: 1.1148005	total: 4.85s	remaining: 7.59s
39:	learn: 1.1107912	total: 4.97s	remaining: 7.46s
40:	learn: 1.1085888	total: 5.1s	remaining: 7.34s
41:	learn: 1.1057505	total: 5.22s	remaining: 7.21s
42:	learn: 1.1025836	total: 5.34s	remaining: 7.08s
43:	learn: 1.0966475	total: 5.46s	remaining: 6.95s
44:	learn: 1.0953905	total: 5.59s	remaining: 6.83s
45:	learn: 1.0930301	total: 5.7s	remaining: 6.7s
46:	learn: 1.0906621	total: 5.83s	remaining: 6.57s
47:	learn: 1.0882056	total: 5.95s	remaining: 6.44s
48:	learn: 1.0859096	total: 6.07s	remaining: 6.32s
49:	learn: 1.0831716	total: 6.19s	remaining: 6.19s
50:	learn: 1.0802063	total: 6.32s	remaining: 6.07s
51:	learn: 1.0788134	total: 6.43s	remaining: 5.94s
52:	learn: 1.0762530	total: 6.55s	remaining: 5.81s
53:	learn: 1.0738733	total: 6.68s	remaining: 5.69s
54:	learn: 1.0707740	total: 6.8s	remaining: 5.56s
55:	learn: 1.0691815	total: 6.92s	remaining: 5.44s
56:	learn: 1.0666871	total: 7.05s	remaining: 5.32s
57:	learn: 1.0633420	total: 7.17s	remaining: 5.19s
58:	learn: 1.0609566	total: 7.3s	remaining: 5.07s
59:	learn: 1.0587942	total: 7.42s	remaining: 4.94s
60:	learn: 1.0567570	total: 7.54s	remaining: 4.82s
61:	learn: 1.0540414	total: 7.66s	remaining: 4.7s
62:	learn: 1.0523136	total: 7.78s	remaining: 4.57s
63:	learn: 1.0494541	total: 7.9s	remaining: 4.45s
64:	learn: 1.0465457	total: 8.03s	remaining: 4.32s
65:	learn: 1.0438901	total: 8.15s	remaining: 4.2s
66:	learn: 1.0414068	total: 8.27s	remaining: 4.07s
67:	learn: 1.0386305	total: 8.39s	remaining: 3.95s
68:	learn: 1.0360045	total: 8.51s	remaining: 3.82s
69:	learn: 1.0333566	total: 8.63s	remaining: 3.7s
70:	learn: 1.0321200	total: 8.75s	remaining: 3.57s
71:	learn: 1.0289848	total: 8.87s	remaining: 3.45s
72:	learn: 1.0263649	total: 8.99s	remaining: 3.33s
73:	learn: 1.0243863	total: 9.12s	remaining: 3.2s
74:	learn: 1.0216661	total: 9.24s	remaining: 3.08s
75:	learn: 1.0206053	total: 9.36s	remaining: 2.96s
76:	learn: 1.0171217	total: 9.48s	remaining: 2.83s
77:	learn: 1.0147501	total: 9.61s	remaining: 2.71s
78:	learn: 1.0115080	total: 9.73s	remaining: 2.59s
79:	learn: 1.0101698	total: 9.86s	remaining: 2.46s
80:	learn: 1.0083788	total: 9.97s	remaining: 2.34s
81:	learn: 1.0067222	total: 10.1s	remaining: 2.22s
82:	learn: 1.0040488	total: 10.2s	remaining: 2.09s
83:	learn: 1.0011413	total: 10.3s	remaining: 1.97s
84:	learn: 0.9996412	total: 10.5s	remaining: 1.85s
85:	learn: 0.9979918	total: 10.6s	remaining: 1.72s
86:	learn: 0.9960529	total: 10.7s	remaining: 1.6s
87:	learn: 0.9942763	total: 10.8s	remaining: 1.48s
88:	learn: 0.9928083	total: 11s	remaining: 1.35s
89:	learn: 0.9918014	total: 11.1s	remaining: 1.23s
90:	learn: 0.9904056	total: 11.2s	remaining: 1.11s
91:	learn: 0.9884266	total: 11.3s	remaining: 984ms
92:	learn: 0.9871844	total: 11.4s	remaining: 861ms
93:	learn: 0.9838366	total: 11.6s	remaining: 738ms
94:	learn: 0.9814821	total: 11.7s	remaining: 615ms
95:	learn: 0.9798049	total: 11.8s	remaining: 492ms
96:	learn: 0.9782650	total: 11.9s	remaining: 369ms
97:	learn: 0.9765325	total: 12.1s	remaining: 246ms
98:	learn: 0.9749115	total: 12.2s	remaining: 123ms
99:	learn: 0.9721684	total: 12.3s	remaining: 0us

# Predict

In [7]:
# Preparing data in Pool format
dataset_test = Pool(
    data=X_test,
    text_features=[0]
)
predict_classes = model.predict(dataset_test)
predictions = le.inverse_transform(predict_classes)

/Users/m.baushenko/Desktop/nlp_huawei_new2_task/venv/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:154: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Create submission

In [8]:
sample_submission = pd.read_csv(os.path.join(path, "sample_submission.csv"))
sample_submission.head()

         id target
0  d996f823   Kids
1  1cf01f9c   Kids
2  856ea05c   Kids
3  c97899ee   Kids
4  73f0740f   Kids

In [9]:
sample_submission["target"] = predictions
sample_submission.head()

         id   target
0  d996f823    Drama
1  1cf01f9c    Drama
2  856ea05c  Mystery
3  c97899ee   Horror
4  73f0740f   Comedy

In [10]:
sample_submission.to_csv(os.path.join(path, "submission.csv"), index=False)

In [11]:
# Accuracy 0.59137