In [1]:
%load_ext autoreload
%autoreload 2

# Import Libraries

In [2]:
import os

import pandas as pd
from catboost import Pool, CatBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

# Read Data

In [3]:
path = "../"
train_data = pd.read_csv(os.path.join(path, "train.csv"))
test_data = pd.read_csv(os.path.join(path, "test.csv"))
print(f"Number of rows and columns in the train data set: {train_data.shape}")
print(f"Number of rows and columns in the test data set: {test_data.shape}")
train_data.head()

Number of rows and columns in the train data set: (5495, 4)
Number of rows and columns in the test data set: (788, 3)

,id,movie_name,movie_description,target
0,3525e31d,Hellraiser,A new take on Clive Barker's 1987 horror class...,Horror
1,051f6309,Hocus Pocus 2,It's been 29 years since someone lit the Black...,Kids
2,12a9bfcf,X,"In 1979, a group of young filmmakers set out t...",Horror
3,e5373c77,Piggy,With the summer sun beating down on her rural ...,Horror
4,473cdb82,Deadstream,After a public controversy left him disgraced ...,Horror

In [4]:
train_data.groupby("target").describe()

           id                       movie_name                                 \
        count unique       top freq      count unique                     top
target
Action    704    704  68cfcb79    1        704    697  Assault on Precinct 13
Comedy   1269   1269  f00aac8c    1       1269   1264     Father of the Bride
Drama    1202   1202  6569d7af    1       1202   1196            Little Women
Horror    974    974  3525e31d    1        974    942                  Carrie
Kids      552    552  051f6309    1        552    539               Pinocchio
Mystery   794    794  e5da8af4    1        794    769                   Alone

             movie_description         \
        freq             count unique
target
Action     2               704    703
Comedy     2              1269   1269
Drama      2              1202   1202
Horror     3               974    974
Kids       3               552    552
Mystery    3               794    793


                                                       top freq
target
Action   Wisecracking mercenary Deadpool meets Russell,...    2
Comedy   To show support for his neighborhood friends s...    1
Drama    Vince used to be in the hottest boy band aroun...    1
Horror   A new take on Clive Barker's 1987 horror class...    1
Kids     It's been 29 years since someone lit the Black...    1
Mystery  A mysterious figure stalks a pop star when she...    2

# Encoding Categorial Target

In [5]:
le = LabelEncoder()  # for label encoding!

X_train = train_data["movie_description"]
y_train = le.fit_transform(train_data["target"])

X_test = test_data["movie_description"]

# Preparing the data and creating Catboost model

In [6]:
model = CatBoostClassifier(
    iterations=100,
    depth=5,
    random_seed=42
)

model.fit(
    X_train,
    y_train,
    text_features=[0],
    verbose=True
)

Learning rate set to 0.5
0:	learn: 1.4732582	total: 163ms	remaining: 16.1s
1:	learn: 1.3652846	total: 292ms	remaining: 14.3s
2:	learn: 1.3190536	total: 418ms	remaining: 13.5s
3:	learn: 1.3058702	total: 541ms	remaining: 13s
4:	learn: 1.2852828	total: 666ms	remaining: 12.7s
5:	learn: 1.2715606	total: 790ms	remaining: 12.4s
6:	learn: 1.2644465	total: 916ms	remaining: 12.2s
7:	learn: 1.2585924	total: 1.04s	remaining: 11.9s
8:	learn: 1.2497019	total: 1.17s	remaining: 11.8s
9:	learn: 1.2453763	total: 1.3s	remaining: 11.7s
10:	learn: 1.2412351	total: 1.43s	remaining: 11.6s
11:	learn: 1.2395000	total: 1.55s	remaining: 11.4s
12:	learn: 1.2360224	total: 1.67s	remaining: 11.2s
13:	learn: 1.2328154	total: 1.79s	remaining: 11s
14:	learn: 1.2276674	total: 1.92s	remaining: 10.9s
15:	learn: 1.2213552	total: 2.04s	remaining: 10.7s
16:	learn: 1.2158031	total: 2.16s	remaining: 10.6s
17:	learn: 1.2118280	total: 2.29s	remaining: 10.4s
18:	learn: 1.2019060	total: 2.41s	remaining: 10.3s
19:	learn: 1.1964487	total: 2.53s	remaining: 10.1s
20:	learn: 1.1910195	total: 2.65s	remaining: 9.99s
21:	learn: 1.1886158	total: 2.78s	remaining: 9.85s
22:	learn: 1.1828453	total: 2.9s	remaining: 9.72s
23:	learn: 1.1776718	total: 3.02s	remaining: 9.58s
24:	learn: 1.1747805	total: 3.15s	remaining: 9.44s
25:	learn: 1.1671735	total: 3.27s	remaining: 9.32s
26:	learn: 1.1621577	total: 3.4s	remaining: 9.19s
27:	learn: 1.1582573	total: 3.52s	remaining: 9.06s
28:	learn: 1.1527748	total: 3.65s	remaining: 8.93s
29:	learn: 1.1467184	total: 3.77s	remaining: 8.8s
30:	learn: 1.1430415	total: 3.9s	remaining: 8.67s
31:	learn: 1.1381669	total: 4.02s	remaining: 8.54s
32:	learn: 1.1350051	total: 4.14s	remaining: 8.41s
33:	learn: 1.1310983	total: 4.27s	remaining: 8.29s
34:	learn: 1.1272210	total: 4.39s	remaining: 8.16s
35:	learn: 1.1230859	total: 4.51s	remaining: 8.03s
36:	learn: 1.1196244	total: 4.64s	remaining: 7.9s
37:	learn: 1.1170409	total: 4.76s	remaining: 7.77s
38:	learn: 1.1148005	total: 4.88s	remaining: 7.64s
39:	learn: 1.1107912	total: 5.02s	remaining: 7.53s
40:	learn: 1.1085888	total: 5.14s	remaining: 7.4s
41:	learn: 1.1057505	total: 5.27s	remaining: 7.27s
42:	learn: 1.1025836	total: 5.39s	remaining: 7.14s
43:	learn: 1.0966475	total: 5.51s	remaining: 7.02s
44:	learn: 1.0953905	total: 5.64s	remaining: 6.89s
45:	learn: 1.0930301	total: 5.77s	remaining: 6.77s
46:	learn: 1.0906621	total: 5.9s	remaining: 6.65s
47:	learn: 1.0882056	total: 6.02s	remaining: 6.52s
48:	learn: 1.0859096	total: 6.14s	remaining: 6.39s
49:	learn: 1.0831716	total: 6.27s	remaining: 6.27s
50:	learn: 1.0802063	total: 6.39s	remaining: 6.14s
51:	learn: 1.0788134	total: 6.51s	remaining: 6.01s
52:	learn: 1.0762530	total: 6.64s	remaining: 5.89s
53:	learn: 1.0738733	total: 6.76s	remaining: 5.76s
54:	learn: 1.0707740	total: 6.88s	remaining: 5.63s
55:	learn: 1.0691815	total: 7.01s	remaining: 5.51s
56:	learn: 1.0666871	total: 7.13s	remaining: 5.38s
57:	learn: 1.0633420	total: 7.26s	remaining: 5.25s
58:	learn: 1.0609566	total: 7.38s	remaining: 5.13s
59:	learn: 1.0587942	total: 7.51s	remaining: 5s
60:	learn: 1.0567570	total: 7.63s	remaining: 4.88s
61:	learn: 1.0540414	total: 7.75s	remaining: 4.75s
62:	learn: 1.0523136	total: 7.88s	remaining: 4.63s
63:	learn: 1.0494541	total: 8s	remaining: 4.5s
64:	learn: 1.0465457	total: 8.13s	remaining: 4.38s
65:	learn: 1.0438901	total: 8.25s	remaining: 4.25s
66:	learn: 1.0414068	total: 8.38s	remaining: 4.13s
67:	learn: 1.0386305	total: 8.5s	remaining: 4s
68:	learn: 1.0360045	total: 8.63s	remaining: 3.88s
69:	learn: 1.0333566	total: 8.75s	remaining: 3.75s
70:	learn: 1.0321200	total: 8.87s	remaining: 3.62s
71:	learn: 1.0289848	total: 9s	remaining: 3.5s
72:	learn: 1.0263649	total: 9.12s	remaining: 3.37s
73:	learn: 1.0243863	total: 9.25s	remaining: 3.25s
74:	learn: 1.0216661	total: 9.38s	remaining: 3.13s
75:	learn: 1.0206053	total: 9.5s	remaining: 3s
76:	learn: 1.0171217	total: 9.63s	remaining: 2.88s
77:	learn: 1.0147501	total: 9.75s	remaining: 2.75s
78:	learn: 1.0115080	total: 9.88s	remaining: 2.63s
79:	learn: 1.0101698	total: 10s	remaining: 2.5s
80:	learn: 1.0083788	total: 10.1s	remaining: 2.38s
81:	learn: 1.0067222	total: 10.2s	remaining: 2.25s
82:	learn: 1.0040488	total: 10.4s	remaining: 2.12s
83:	learn: 1.0011413	total: 10.5s	remaining: 2s
84:	learn: 0.9996412	total: 10.6s	remaining: 1.87s
85:	learn: 0.9979918	total: 10.7s	remaining: 1.75s
86:	learn: 0.9960529	total: 10.9s	remaining: 1.62s
87:	learn: 0.9942763	total: 11s	remaining: 1.5s
88:	learn: 0.9928083	total: 11.1s	remaining: 1.37s
89:	learn: 0.9918014	total: 11.2s	remaining: 1.25s
90:	learn: 0.9904056	total: 11.4s	remaining: 1.12s
91:	learn: 0.9884266	total: 11.5s	remaining: 998ms
92:	learn: 0.9871844	total: 11.6s	remaining: 873ms
93:	learn: 0.9838366	total: 11.7s	remaining: 748ms
94:	learn: 0.9814821	total: 11.8s	remaining: 623ms
95:	learn: 0.9798049	total: 12s	remaining: 499ms
96:	learn: 0.9782650	total: 12.1s	remaining: 374ms
97:	learn: 0.9765325	total: 12.2s	remaining: 249ms
98:	learn: 0.9749115	total: 12.3s	remaining: 125ms
99:	learn: 0.9721684	total: 12.5s	remaining: 0us

# Predict

In [7]:
# Preparing data in Pool format
dataset_test = Pool(
    data=X_test,
    text_features=[0]
)
predict_classes = model.predict(dataset_test)
predictions = le.inverse_transform(predict_classes)

/Users/m.baushenko/Desktop/nlp_huawei_new2_task/venv/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:154: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Create submission

In [8]:
sample_submission = pd.read_csv(os.path.join(path, "sample_submission.csv"))
sample_submission.head()

         id target
0  d996f823   Kids
1  1cf01f9c   Kids
2  856ea05c   Kids
3  c97899ee   Kids
4  73f0740f   Kids

In [9]:
sample_submission["target"] = predictions
sample_submission.head()

         id   target
0  d996f823    Drama
1  1cf01f9c    Drama
2  856ea05c  Mystery
3  c97899ee   Horror
4  73f0740f   Comedy

In [10]:
sample_submission.to_csv("submission.csv", index=False)