In [1]:
%load_ext autoreload
%autoreload 2

# Import Libraries

In [2]:
import os

import pandas as pd
from catboost import Pool, CatBoostClassifier
from sklearn.metrics import accuracy_score

# Read Data

In [3]:
path = "../"
train_data = pd.read_csv(os.path.join(path, "train.csv"))
test_data = pd.read_csv(os.path.join(path, "test.csv"))
print(f"Number of rows and columns in the train data set: {train_data.shape}")
print(f"Number of rows and columns in the test data set: {test_data.shape}")
train_data.head()

Number of rows and columns in the train data set: (8050, 4)
Number of rows and columns in the test data set: (2684, 3)

,movie_name,target,movie_description,id
0,Furies,0,Three furious vigilantes unite to take down a ...,133529636342330622371894152500993949030
1,RRR,0,The story of freedom fighters Komaram Bheem an...,133529660110779376651195430564179049830
2,John Wick,0,Legendary assassin John Wick (Keanu Reeves) re...,133529680710101630359923204885606137190
3,John Wick: Chapter 3 -- Parabellum,0,After gunning down a member of the High Table ...,133529687048354631501070212369122164070
4,Top Gun: Maverick,0,After more than thirty years of service as one...,133529699724860633783364227336154217830

In [4]:
train_data.groupby("target").describe()

       movie_name                                   movie_description         \
            count unique                   top freq             count unique
target
0             920    908             The Mummy    2               920    920
1            1096   1075  The Three Musketeers    4              1096   1096
2            1140   1133             Rembrandt    2              1140   1140
3            1589   1578        Ocean's Eleven    2              1589   1589
4            1699   1645             Halloween    3              1699   1699
5            1606   1590    Always Be My Maybe    2              1606   1606

                                                                  id         \
                                                      top freq count unique
target
0       Three furious vigilantes unite to take down a ...    1   920    920
1       An interactive comedy adventure about two indo...    1  1096   1096
2       Zlatan Ibrahimovic, the son of Balkan immigran...    1  1140   1140
3       Aware that her time is running short, irascibl...    1  1589   1589
4       Returning to an eerily empty hotel after a day...    1  1699   1699
5       In order to save her relationship from falling...    1  1606   1606


                                            top freq
target
0       133529636342330622371894152500993949030    1
1       133537091712423214646061704986720566630    1
2       133546465196330277259842397171484818790    1
3       133555542366909536525000489501874814310    1
4       133568186389365187970637043180908936550    1
5       133581667853498615190321960619498110310    1

# Preparing the data and creating Catboost model

In [5]:
X_train = train_data["movie_description"]
y_train = train_data["target"]

X_test = test_data["movie_description"]


model = CatBoostClassifier(
    iterations=100,
    depth=5,
    random_seed=42
)

model.fit(
    X_train,
    y_train,
    text_features=[0],
    verbose=True
)

Learning rate set to 0.5
0:	learn: 0.6379966	total: 192ms	remaining: 19s
1:	learn: 0.4115786	total: 353ms	remaining: 17.3s
2:	learn: 0.3088364	total: 506ms	remaining: 16.4s
3:	learn: 0.2512520	total: 657ms	remaining: 15.8s
4:	learn: 0.2143676	total: 805ms	remaining: 15.3s
5:	learn: 0.1921620	total: 949ms	remaining: 14.9s
6:	learn: 0.1753263	total: 1.1s	remaining: 14.6s
7:	learn: 0.1564486	total: 1.27s	remaining: 14.7s
8:	learn: 0.1494784	total: 1.43s	remaining: 14.4s
9:	learn: 0.1489393	total: 1.59s	remaining: 14.3s
10:	learn: 0.1453907	total: 1.74s	remaining: 14s
11:	learn: 0.1422216	total: 1.89s	remaining: 13.9s
12:	learn: 0.1372412	total: 2.04s	remaining: 13.7s
13:	learn: 0.1366207	total: 2.19s	remaining: 13.4s
14:	learn: 0.1321891	total: 2.34s	remaining: 13.2s
15:	learn: 0.1309876	total: 2.48s	remaining: 13s
16:	learn: 0.1240254	total: 2.63s	remaining: 12.8s
17:	learn: 0.1222762	total: 2.77s	remaining: 12.6s
18:	learn: 0.1219894	total: 2.92s	remaining: 12.5s
19:	learn: 0.1091740	total: 3.08s	remaining: 12.3s
20:	learn: 0.1086741	total: 3.22s	remaining: 12.1s
21:	learn: 0.1079970	total: 3.36s	remaining: 11.9s
22:	learn: 0.1023721	total: 3.51s	remaining: 11.7s
23:	learn: 0.1002399	total: 3.66s	remaining: 11.6s
24:	learn: 0.0987527	total: 3.8s	remaining: 11.4s
25:	learn: 0.0974956	total: 3.95s	remaining: 11.3s
26:	learn: 0.0969315	total: 4.1s	remaining: 11.1s
27:	learn: 0.0952456	total: 4.25s	remaining: 10.9s
28:	learn: 0.0929437	total: 4.39s	remaining: 10.8s
29:	learn: 0.0920429	total: 4.54s	remaining: 10.6s
30:	learn: 0.0909860	total: 4.69s	remaining: 10.4s
31:	learn: 0.0896562	total: 4.83s	remaining: 10.3s
32:	learn: 0.0889136	total: 4.97s	remaining: 10.1s
33:	learn: 0.0876830	total: 5.12s	remaining: 9.94s
34:	learn: 0.0870001	total: 5.26s	remaining: 9.77s
35:	learn: 0.0859566	total: 5.4s	remaining: 9.61s
36:	learn: 0.0857036	total: 5.55s	remaining: 9.46s
37:	learn: 0.0849340	total: 5.7s	remaining: 9.3s
38:	learn: 0.0846782	total: 5.84s	remaining: 9.14s
39:	learn: 0.0830569	total: 5.99s	remaining: 8.98s
40:	learn: 0.0813996	total: 6.13s	remaining: 8.82s
41:	learn: 0.0794755	total: 6.27s	remaining: 8.66s
42:	learn: 0.0785516	total: 6.42s	remaining: 8.51s
43:	learn: 0.0782149	total: 6.57s	remaining: 8.36s
44:	learn: 0.0777220	total: 6.71s	remaining: 8.21s
45:	learn: 0.0771682	total: 6.86s	remaining: 8.05s
46:	learn: 0.0756611	total: 7.01s	remaining: 7.9s
47:	learn: 0.0738102	total: 7.15s	remaining: 7.75s
48:	learn: 0.0735333	total: 7.3s	remaining: 7.6s
49:	learn: 0.0734027	total: 7.44s	remaining: 7.44s
50:	learn: 0.0730748	total: 7.59s	remaining: 7.29s
51:	learn: 0.0725641	total: 7.76s	remaining: 7.16s
52:	learn: 0.0722197	total: 7.93s	remaining: 7.03s
53:	learn: 0.0717944	total: 8.12s	remaining: 6.92s
54:	learn: 0.0705777	total: 8.28s	remaining: 6.77s
55:	learn: 0.0701971	total: 8.55s	remaining: 6.72s
56:	learn: 0.0699409	total: 8.81s	remaining: 6.65s
57:	learn: 0.0697268	total: 9.03s	remaining: 6.54s
58:	learn: 0.0695366	total: 9.2s	remaining: 6.39s
59:	learn: 0.0683877	total: 9.35s	remaining: 6.23s
60:	learn: 0.0671908	total: 9.49s	remaining: 6.07s
61:	learn: 0.0660057	total: 9.68s	remaining: 5.93s
62:	learn: 0.0656497	total: 9.88s	remaining: 5.8s
63:	learn: 0.0653969	total: 10.1s	remaining: 5.66s
64:	learn: 0.0651198	total: 10.2s	remaining: 5.5s
65:	learn: 0.0649283	total: 10.4s	remaining: 5.35s
66:	learn: 0.0631387	total: 10.6s	remaining: 5.22s
67:	learn: 0.0624258	total: 10.8s	remaining: 5.07s
68:	learn: 0.0609521	total: 10.9s	remaining: 4.91s
69:	learn: 0.0603755	total: 11.1s	remaining: 4.75s
70:	learn: 0.0600089	total: 11.2s	remaining: 4.59s
71:	learn: 0.0589866	total: 11.4s	remaining: 4.43s
72:	learn: 0.0582697	total: 11.5s	remaining: 4.27s
73:	learn: 0.0581024	total: 11.7s	remaining: 4.11s
74:	learn: 0.0572777	total: 11.8s	remaining: 3.95s
75:	learn: 0.0567135	total: 12s	remaining: 3.79s
76:	learn: 0.0554762	total: 12.1s	remaining: 3.63s
77:	learn: 0.0550937	total: 12.3s	remaining: 3.47s
78:	learn: 0.0545975	total: 12.4s	remaining: 3.31s
79:	learn: 0.0533874	total: 12.6s	remaining: 3.15s
80:	learn: 0.0524797	total: 12.7s	remaining: 2.99s
81:	learn: 0.0522507	total: 12.9s	remaining: 2.83s
82:	learn: 0.0517181	total: 13s	remaining: 2.67s
83:	learn: 0.0515530	total: 13.2s	remaining: 2.51s
84:	learn: 0.0505957	total: 13.3s	remaining: 2.35s
85:	learn: 0.0495313	total: 13.5s	remaining: 2.19s
86:	learn: 0.0492364	total: 13.6s	remaining: 2.04s
87:	learn: 0.0485598	total: 13.8s	remaining: 1.88s
88:	learn: 0.0483148	total: 13.9s	remaining: 1.72s
89:	learn: 0.0479227	total: 14.1s	remaining: 1.56s
90:	learn: 0.0478022	total: 14.3s	remaining: 1.41s
91:	learn: 0.0476014	total: 14.4s	remaining: 1.25s
92:	learn: 0.0474438	total: 14.6s	remaining: 1.1s
93:	learn: 0.0472635	total: 14.7s	remaining: 941ms
94:	learn: 0.0465853	total: 14.9s	remaining: 784ms
95:	learn: 0.0459250	total: 15s	remaining: 627ms
96:	learn: 0.0449986	total: 15.2s	remaining: 470ms
97:	learn: 0.0448522	total: 15.3s	remaining: 313ms
98:	learn: 0.0446574	total: 15.5s	remaining: 157ms
99:	learn: 0.0442167	total: 15.7s	remaining: 0us

# Predict

In [6]:
# Preparing data in Pool format
dataset_test = Pool(
    data=X_test,
    text_features=[0]
)
predict_classes = model.predict(dataset_test)
predictions = predict_classes

# Create submission

In [7]:
sample_submission = pd.read_csv(os.path.join(path, "sample_submission.csv"))
sample_submission["target"] = predictions
sample_submission.head()

                                        id  target
0  133529667241314002934985813983134580070       5
1  133529693386607632642217219852638190950       5
2  133529737754378640630246272237250379110       5
3  133529756769137644053687294687798459750       1
4  133529828866765532034234504812793265510       5

In [8]:
sample_submission.to_csv("submission.csv", index=False)